body { 
   background-color: #f542e0;
   font-family: 'Concert One', cursive; 
    
}

/*--------------------------------------------Google Fonts*/
.concert-font {
    font-family: 'Concert One', cursive;
}


/*----------------------------------------------Formatting*/

.center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.one {
    background-color: #FF3A20;
    border: black solid 5px;
}

.two {
    background-color: #FF4365;
    border: black solid 5px;
}

.three {
    background-color: #FFBE0B;
    border: black solid 5px;
}

.four {
    background-color: #3A86FF;
    border: black solid 5px;
}

.five {
    background-color: #8338EC;
    border: black solid 5px;
}

.six {
    background-color: #FF6B6B;
    border: black solid 5px;
}

.seven {
    background-color: #99C24D;
    border: black solid 5px;
}

.eight {
    background-color: #4ECDC4;
    border: black solid 5px;
}

.nine {
    background-color: #1A535C;
    border: black solid 5px;
}




.black {
    background-color: black;
}

.white {
    background-color: white !important;
    border: black solid 5px;
}

.redtext{
    color: red;
}

.blacktext{
    color: black;
}

/*------------------------------------------------------game parts*/

.gameholder {
    margin-top: 30px;
    border: black solid 3px;
    padding: 10px;
    width: 400px;
}
.gamebox {
    height: 100px;
    width: 100px;
    border-radius: 20%;
    display: inline-block;
}



.control {
    background-color: white;
    height: 50px;
    width: 80%;
    border-radius: 10%;
    display: inline-block;
    margin-top: 10px;
    border: black solid 5px;
}

.scorebox {
    height: 50px;
    width: 100px;
    border-radius: 20%;
    display: inline-block;
    margin-top: 10px;
}

.smallcircle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    margin: 10px 15px;
}

.settings {
    position: absolute;
/*    top: 100px; left: 100px*/;
    background: white;
    border: black solid 5px;
}

.noDisplay {
    display: none;
}

.speeddown {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: red;
}