body { 
    background-color: #f542e0;
    
}

/*Google Fonts*/
.concert {
    font-family: 'Concert One', cursive;
}


/*Formatting*/

.center {
    text-align: center;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}
/*game parts*/

.gameholder {
    margin-top: 30px;
    border: black solid 3px;
    padding: 10px;
}
.gamebox {
    height: 100px;
    width: 100px;
    border-radius: 20%;
    display: inline-block;
}



.control {
    background-color: white;
    height: 50px;
    width: 80%;
    border-radius: 10%;
    display: inline-block;
    margin-top: 10px;
    border: black solid 5px;
}